.container__about {
	max-width: 1202px;
}
.about {
	display: flex;
}

.about-text__title {
	font-family: "Inter";
	font-style: normal;
	font-size: 50px;
	line-height: 60px;
	text-transform: capitalize;
	padding: 0 10rem 0 0;
	color: #ffffff;
}

.about-text__suptitle {
	font-family: "Inter";
	font-size: 17px;
	line-height: 30px;
	font-weight: 100;
	color: #e0e5f3;
}

.about-text__suptitle {
	position: relative;
	margin: 2rem;
	right: 2rem;
}

.about__button {
	font-family: "Inter";
	font-style: normal;
	font-weight: 500;
	font-size: 18px;
	line-height: 22px;
	left: 0;
	margin: 0 11rem;
}

.about__images {	
	display: flex;
width: 100%;
}

.about__image {
	padding: .4rem .4rem;
}



.footer__text {
	display: flex;
	justify-content: space-between;
	margin: 6rem auto;
}

.about-footer__text {
	font-family: "Inter";
	font-style: normal;
	font-weight: 700;
	font-size: 48px;
	line-height: 58px;
	color: #fff;
	text-align: center;
}

.about-footer__suptext {
	font-family: "Inter";
	font-style: normal;
	font-weight: 400px;
	font-size: 20px;
	line-height: 24px;
	color: #e0e5f3;
}

@media (max-width: 500px) {
	.about-text__title {
		font-size: 20px;
		line-height: 30px;
		margin: 2rem auto;
	}

	.about-text__suptitle {
		font-size: 20px;
		line-height: 30px;
		margin: 0;
		position: relative;
		left: 0.1rem;
		margin: 2rem auto;
	}

	.about {
		display: flex;
		flex-direction: column;
		width: 100%;
	}

	.about__button {
		margin: 0 1rem;
	}

	.about__images {
		width: 100%;
		margin: 6rem 0 0 0;
	}

	.footer__text {
		flex-direction: column;
	}

	.about__footer {
		display: flex;
		flex-direction: column;
	}

	.about__title {
		font-size: 30px;
		line-height: 35px;
	}

	.about-footer__suptext {
		margin: 0 0 5rem 0;
		text-align: center;
	}
}
