.banner__title {
	font-size: 170px;
	text-align: center;
	color: #fff;
}

.banner__suptitle {
	font-size: 170px;
	text-align: center;
	color: #fff;
	line-height: 50px;
	margin: 0 15rem 0 0;	
}

.banner__icon {
	position: relative;
	bottom: 17rem;
	left: 14rem;
}

.banner-icon__line {
	width: 30%;
}

.banner-text__suptitle {
	margin: 1rem auto;
	width: 50%;
	color: #fff;
	font-size: 25px;
	line-height: 30px;
}


.banner__image {
	float: right;
	position: relative;
	bottom: 27rem;
	right: 2.5rem;
}

.banner__image-circle {
	width: 10%;
}

.banner__image-two {
	position: relative;
	bottom: 2rem;
}

.button {
	border-radius: 50px;
	width: 30%;
	height: 70px;
	background-color: #FFC93E;
	cursor: pointer;
}

.banner-suptitle__image {
	margin: 0 0 4rem 0;
}