.container {
    max-width: 1440px;
    padding: 0 15px;
    margin: 0 auto;
}

html {
    scroll-behavior: smooth;
}

@media (max-width: 1440px) {
    .container {
        max-width: 500px;
    }
}

@media (max-width: 500px) {
    .container {
        max-width: 320px;
    }
}