.container__wrapper {
    max-width: 1140px;
}
.header__wrapper {
    margin: 1.5rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-end;
}

.header__list {
    display: flex;    
}

.header__item {
    margin-right: 3rem;
}

.header__item:last-child{
    margin-right: 0;
}

.header-item__link {
    font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 22px;
color: #fff;
width: 2.5rem;
text-decoration: none;
}

.header-item__link:hover, .header-item__link:focus, .header-item__link:active {
    opacity: 0.75;
}