.wrapper {
    background-color: #172048;
    position: relative;
    overflow-y: hidden;
    background-image: url(../../../assets/icons/Background\ elements.svg);
    background-repeat: no-repeat;
    background-size: contain;
}