@import "main.css";
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap");
.container {
  max-width: 1440px;
  padding: 0 15px;
  margin: 0 auto;
}

.container__wrapper {
  max-width: 1140px;
}

.header__wrapper {
  margin: 1.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__item {
  margin-right: 3rem;
}

.header__item:last-child {
  margin-right: 0;
}

.header-item__link {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  color: #fff;
  width: 2.5rem;
  text-decoration: none;
}

.header-item__link:hover, .header-item__link:focus, .header-item__link:active {
  opacity: 0.75;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

ul[class],
ol[class] {
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

ul[class],
ol[class] {
  list-style: none;
}

a:not([class]) {
  -webkit-text-decoration-skip: ink;
          text-decoration-skip-ink: auto;
}

img {
  max-width: 100%;
  display: block;
}

article > * + * {
  margin-top: 1em;
}

input,
button,
textarea,
select {
  font: inherit;
}

button {
  border: none;
}

@media (prefers-reduced-motion: reduce) {
  * {
    -webkit-animation-duration: 0.01ms !important;
            animation-duration: 0.01ms !important;
    -webkit-animation-iteration-count: 1 !important;
            animation-iteration-count: 1 !important;
    -webkit-transition-duration: 0.01ms !important;
            transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
body {
  font-size: 20px 1rem;
}

.banner__title {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 150px;
  line-height: 182px;
  color: #fff;
  text-align: center;
  width: 92rem;
}

.banner__suptitle {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 150px;
  line-height: 182px;
  color: #fff;
  width: 79rem;
}

.banner__line {
  position: absolute;
  top: 1.5rem;
  left: 44.8rem;
  z-index: 1;
  width: 43.5rem;
}

.banner__logo {
  position: absolute;
  top: 0;
  left: 16rem;
}

.section__banner {
  position: relative;
}

.text__suptitle {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 40px;
  color: #E0E5F3;
  width: 40rem;
  margin-right: 3.5rem;
}

.banner-text__suptitle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.button {
  position: absolute;
  width: 12rem;
  height: 3.4rem;
  background: #FFC93E;
  border-radius: 1.5rem;
  margin-left: 3.5rem;
  cursor: pointer;
}

.banner__button {
  position: absolute;
  left: 21%;
}

.button__text {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
}

.banner-title__image {
  position: absolute;
  top: 15rem;
  left: 58.5rem;
  z-index: 1;
}

.banner__image-circle {
  position: absolute;
  top: 25rem;
  left: 17rem;
  z-index: 2;
}

.banner-suptitle__image {
  position: relative;
}

.scroll-down__text {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #fff;
}

.banner__scroll-down {
  position: relative;
  left: 37rem;
  bottom: 13rem;
  -webkit-writing-mode: vertical-rl;
      -ms-writing-mode: tb-rl;
          writing-mode: vertical-rl;
  -webkit-transform: rotate(-180deg);
          transform: rotate(-180deg);
}

.container__about {
  max-width: 1202px;
}

.about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.about-text__title {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 58px;
  text-transform: capitalize;
  color: #ffffff;
  width: 438px;
}

.about-text__suptitle {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  width: 539px;
  color: #e0e5f3;
}

.about-text__suptitle {
  position: relative;
  margin: 2rem;
  right: 2rem;
}

.about__button {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  margin: 1rem auto;
  text-align: center;
}

.about__images {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.about__image {
  padding: 1rem 1rem;
}

.about__image-left {
  margin: 0 0 0 2rem;
}

.footer__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 7rem auto;
}

.about-footer__text {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 58px;
  color: #fff;
  text-align: center;
}

.about-footer__suptext {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400px;
  font-size: 20px;
  line-height: 24px;
  color: #E0E5F3;
}

.approach {
  background: -webkit-gradient(linear, left top, right top, color-stop(40%, #ffc93e), color-stop(40%, #353f5b));
  background: linear-gradient(to right, #ffc93e 40%, #353f5b 40%);
}

.image__title {
  margin: 4rem 6rem 4rem 3rem;
}

.approach-title {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 39px;
  line-height: 58px;
  color: #fff;
  position: relative;
  right: 3rem;
  margin: 2.5rem auto;
}

.approach-text {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 21px;
  line-height: 29px;
  color: #ffffff;
}

.approach-suptext {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 30px;
  width: 444px;
  color: #e0e5f3;
  margin: 1rem auto;
}

.approach__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.approach-text__title {
  margin: 3rem 4rem;
}

.approach-group__image {
  position: relative;
  top: 2rem;
  right: 3rem;
}

.container__service {
  max-width: 1140px;
}

.service-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.service-text__title {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 58px;
  text-transform: capitalize;
  width: 386px;
  color: #FFFFFF;
  margin: 4rem;
}

.service__button {
  margin: 6rem;
  width: 8rem;
  height: 3.4rem;
  background: transparent;
  color: #fff;
  border: 1px solid;
  border-radius: 1.5rem;
  cursor: pointer;
}

.service-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.service-box__top {
  padding: 5rem;
  width: 555px;
  background: #353f5b;
  border-radius: 50px 0px 0px 0px;
  margin: 1rem auto;
}

.service-box__bottom {
  padding: 5rem;
  width: 555px;
  background: #353f5b;
  border-radius: 0px 0px 0px 50px;
}

.service-box__right {
  padding: 5rem;
  width: 555px;
  background: #353f5b;
  border-radius: 0px 50px 0px 0px;
  margin: 1rem auto;
}

.service-box__left {
  padding: 5rem;
  width: 555px;
  background: #353f5b;
  border-radius: 0px 0px 50px 0px;
}

.box__left {
  margin: 1rem 1.5rem;
}

.box__right {
  margin: 5rem auto;
}

.box-text {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
  line-height: 36px;
  margin: 1.5rem 0 0 0;
  color: #FFFFFF;
}

.box-suptext {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  width: 435px;
  color: #E0E5F3;
  margin: 1.5rem auto;
}

.service__box-button {
  width: 12rem;
  margin: 0;
  height: 3.4rem;
  background: transparent;
  color: #fff;
  border: 1px solid;
  border-radius: 1.5rem;
  cursor: pointer;
}

.service__box-button:hover {
  background-color: yellow;
  color: #000;
  -webkit-transition: 1s;
  transition: 1s;
}

.container__latest {
  max-width: 1140px;
}

.latest-title {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 58px;
  text-align: center;
  text-transform: capitalize;
  color: #ffffff;
}

.latest-links {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 30px;
  margin: 2rem;
  text-align: center;
  text-transform: capitalize;
  color: #ffffff;
}

.latest__link {
  padding: 1.3rem;
  color: #fff;
  text-decoration: none;
}

.latest__link:hover {
  color: yellow;
}

.latest-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.latest-left {
  margin-right: 1rem;
}

.latest-right {
  margin-left: 1rem;
}

.latest-text {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 36px;
  width: 393px;
  margin: 2rem 0;
  color: #fff;
}

.latest-suptext {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400px;
  font-size: 16px;
  line-height: 30px;
  width: 553px;
  color: #e0e5f3;
}

.latest__button {
  margin: 1rem 29rem;
  width: 12rem;
  height: 3.4rem;
  background: #ffc93e;
  border-radius: 1.5rem;
  cursor: pointer;
}

.container__clients {
  max-width: 1560px;
  margin-left: 11rem;
}

.clients-title {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 58px;
  margin: 4rem 0;
  color: #ffffff;
}

.clients-review {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
}

.client-box__text {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  width: 550px;
  color: #e0e5f3;
}

.client-name {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 30px;
  color: #ffffff;
}

.client-job {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  color: #ffc93e;
}

.client__box-one {
  background: #353f5b;
  border-radius: 50px;
  width: 750px;
}

.client__box-two {
  margin: 0 2rem;
  background: #353f5b;
  border-radius: 50px;
  width: 750px;
}

.client-quotes {
  padding: 3rem 0 0 3rem;
}

.client-box__text {
  margin: 2rem 1rem 1rem 3rem;
}

.client-page {
  margin: 1.5rem 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.client-info {
  margin-right: 10rem;
}

.client-info__right {
  margin-right: 11.5rem;
}

.clients-circle__button-right {
  width: 56px;
  height: 56px;
  border-radius: 50%;
  background-color: #ffc93e;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
  position: relative;
  bottom: 15rem;
}

.clients-circle__button-left {
  width: 56px;
  height: 56px;
  border-radius: 50%;
  background-color: #ffc93e;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
  position: relative;
  bottom: 15rem;
  right: 2rem;
}

.clients-circle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.wrapper {
  background-color: #172048;
  position: relative;
  overflow-y: hidden;
  background-image: url(../../../assets/icons/Background\ elements.svg);
  background-repeat: no-repeat;
  background-size: contain;
}

.container__blog {
  max-width: 1140px;
}

.blog {
  margin: 0 0 5rem 0;
}

.blog__title {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 58px;
  margin: 2rem auto;
  text-transform: capitalize;
  color: #FFFFFF;
}

.blog__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.blog__info-text {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  margin: 1.5rem auto;
  color: #FFFFFF;
}

.blog-text {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 38px;
  width: 554px;
  color: #FFFFFF;
}

.blog__button {
  width: 8rem;
  height: 3.4rem;
  background: transparent;
  color: #fff;
  border: 1px solid;
  border-radius: 1.5rem;
  cursor: pointer;
  margin: 1.5rem auto;
}

.blog-icon {
  font-family: "Red Hat Display";
  font-weight: 500px;
  font-size: 14px;
  line-height: 18px;
  padding: 0.7rem;
  background: #FFFFFF;
  -webkit-box-shadow: 0px 1px 2px rgba(105, 81, 255, 0.05);
          box-shadow: 0px 1px 2px rgba(105, 81, 255, 0.05);
  border-radius: 10px;
}

.blog__right-side {
  margin: 0 2rem;
}

.blog__image-left {
  margin: 0 0 1.8rem 0;
}

.blog__image-right {
  margin: 0 0 1.8rem 0;
}

.footer {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  height: 430px;
  background: #3B435A;
}

.footer__container {
  max-width: 1440px;
}

.footer__box {
  width: 624px;
  height: 234px;
  background: #FFC93E;
  border-radius: 30px;
  margin: 0 5.5rem;
}

.footer__title {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 150%;
  color: #0A142F;
  padding: 4.5rem 3rem;
}

.footer__item {
  margin: 1rem auto;
  border: 1px solid #0A142F;
  font-weight: 400;
  width: 528px;
  border-top: none;
  border-right: none;
  border-left: none;
  background-color: #FFC93E;
  outline: none;
}

.footer__box-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__text-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer__info-left {
  padding: 0 4rem;
}

.footer__text-title {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 18px;
  margin: 1rem auto;
  color: #FFFFFF;
}

.footer__text-suptitle {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400px;
  font-size: 16px;
  line-height: 30px;
  color: #FFFFFF;
}

.footer__circles {
  position: relative;
  top: 3.5rem;
  left: 3.5rem;
}

.footer__box-suptitle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 5.5rem;
}

.footer-suptitle__text {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #E0E5F3;
}

.footer-suptitle__suptext {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  color: #E0E5F3;
}

.footer__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer-logo__link {
  margin: 3rem 1rem;
}